/document.pdf
/Trab1.aux
/document.aux
/document.log
/document.out
/document.synctex.gz
/documen.synctex.gz
/document_contourtmp0.dat
/document_contourtmp0.script
/document_contourtmp0.table
/document_contourtmp1.dat
/document_contourtmp1.script
/document_contourtmp1.table
